.container {
    width: 640px;
    margin: auto;
    margin-top: 150px;
    background: rgb(255, 255, 255);
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    padding: 40px 50px;

}

.container hr {
    height: 2px;
    border: none;
    background: gray;
}

.container h2 {
    font-size: 27px;
    font-weight: 500;


}

.container ul li {
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.container button {
    margin: auto;
    width: 250px;
    height: 65px;
    background: darkorchid;
    color: aliceblue;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.container .index {
    margin: auto;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
}

.container .correct {
    background: rgb(146, 255, 159);
    border-color: rgb(49, 164, 78);
}

.container .wrong {
    background: rgb(255, 135, 135);
    border-color: red;
}